span#id1 {
    color: red;
}
span#highlight {
    background-color: yellow;
    color: blue;
}
#id2 {
    color: green;
}
p + p {
    font-size: italic;
    font-weight: bold;
}
div.items a {
    color: aquamarine;
    font-weight: bold;
}
.red {
    color: red;
    text-decoration: underline;
}